@import "./regular_design.scss";

body {
	margin          : 0;
	padding         : 0;
	color           : #131c16;
	background-color: #f2faff;
	font-family     : $gothic;
	font-size       : 17px;
}

p {
	margin        : 10px 26px 8px;
	letter-spacing: 0.06em;
	font-size     : 100%;
}

svg#sample {
	width        : 800px;
	height       : 500px;
	margin       : 20px 50px;
	padding      : 30px;
	border       : 4px solid #6b6560;
	border-radius: 6px;
}

@mixin button-template($bg-color, $bg-hover-color) {
	display            : inline-block;
	height             : 32px;
	margin             : 8px 0;
	padding            : 0 25.6px;
	background         : $bg-color;
	color              : #ffffff;
	border             : 0;
	border-radius      : 3px;
	box-shadow         : none;
	transition-property: background;
	transition-duration: 0.3s;
	line-height        : 32px;
	font               : {
		family: $gothic;
		size  : 14px;
		weight: 300;
	}
	text               : {
		align     : center;
		shadow    : none;
		decoration: none;
	}
	&:hover {
		background: $bg-hover-color;
	}
}

@mixin range-template($primary, $bar-height) {
	$grey: #95a291;

	width        : 40%;
	height       : $bar-height;
	margin       : 0;
	padding      : 0;
	background   : $primary;
	border       : 0;
	border-radius: $bar-height;
	appearance   : none;
	outline      : none;
	cursor       : pointer;
	&:focus {
		outline: none;
	}
	&::-moz-range-track {
		border       : inherit;
		background   : transparent;
		border-top   : 2em solid transparent;
		border-bottom: 2em solid transparent;
	}
	&::-ms-track {
		border    : inherit;
		color     : transparent;
		/* don't drawn vertical reference line */
		background: transparent;
	}
	&::-ms-fill-lower,
	&::-ms-fill-upper {
		background: transparent;
	}
	&::-ms-tooltip {
		display: none;
	}
	&::-ms-thumb {
		width        : $bar-height;
		height       : $bar-height;
		border       : 0;
		border-radius: 50%;
		background   : radial-gradient(circle, white 0% , $grey 90% , $grey 100%);
	}
}

button#grow-button {
	@include button-template(#00b233, #1d7737);
}

input[type="range"] {
	@include range-template(#1faa1c, 1em);
}

// テキストの調整 small, big など
@import "./h_title.scss";
@import "./text_decoration.scss";

// 色の設定
@import "./colors.scss";
