@import "./regular_design.scss";

svg#sample {
  width        : 800px;
  height       : 400px;
  margin       : 20px 50px;
  padding      : 30px;
  border       : 4px solid #6b6560;
  border-radius: 6px;
}

// テキストの調整 small, big など
@import "./h_title.scss";
@import "./text_decoration.scss";

// 色の設定
@import "./colors.scss";
